<br><div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Add Suppliers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addhospitals">Add Hospitals</a>
      </li>
    </ul>
  </div><br>
<div id="loadingSpinner"></div>
  <div class="d-flex justify-content-center">
  <div class="card card bg shadow-lg p-4 mb-3" style="width: 50%;">
    <div class="card-body">
      <div class="col-md-5 offset-md-3 mt-5">
        <%= simple_form_for :form,url: '#',id: 'supplierFormId' , method: :get do |f|%>
          <%= f.input :supplier_address, :as => :string , :label => 'Supplier Address'%>
          <br>
          <%= f.input :supplier_name, :as=> :string , :label => "Supplier Name " %>
          <br>
          <%= f.input :phone_number, :as => :integer , :label => 'Phone Number'%>
          <br>
          <div class="d-grid">
            <%= f.submit 'Add', class: 'btn btn-primary', id: 'addSupplierBtn'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


