  <br> <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="160" ><image xlink:href="<%= image_path('admin.png') %>" width="100%" height="100%" fill="#777"/></svg>
        <h2 class="fw-normal">Admin</h2>
        <p>Register Suppliers and Hospitals andn Manage Overals System</p>
        <p><a class="btn btn-secondary" href="/addsuppliers" id="loginId1">Login &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="160"  ><image xlink:href="<%= image_path('supplier.jpg') %>" width="100%" height="100%" fill="#777"/></svg>
        <h2 class="fw-normal">Suppliers</h2>
        <p>Collect Blood Units from Donors & ship it to the Authorized Hospitals</p>
        <p><a class="btn btn-secondary" href="/adddonors" id="loginId2">Login &raquo;</a></p>
      </div>
        <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="160"  ><image xlink:href="<%= image_path('hospital.png') %>" width="100%" height="100%" fill="#777"/></svg>
        <h2 class="fw-normal">Hospitals</h2>
        <p>Collect Blood Samples from the Authorized Suppliers and use it in need for Patients</p>
        <p><a class="btn btn-secondary" href="/addpatients" id="loginId3" >Login &raquo;</a></p>
      </div>
  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Hey!! Wanna Donate Blood ? <a class="btn btn-secondary" href="/suppliers" >Explore Suppliers to Donate Blood & be a superhero &raquo;&raquo;&raquo;</a></p></h2>
        <p class="lead">Do you feel you don’t have much to offer? You have the most precious resource of all: the ability to save a life by donating blood! Help share this invaluable gift with someone in need</p>
      </div>
      <div class="col-md-5 order-md-1">
       <img class="d-block" width="400" height="350"   src="<%= image_path('c3.jpg') %>">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Easily Track your Donated Blood </h2><br><a class="btn btn-secondary" href="/trackblood" >Track your Blood Here &raquo;&raquo;&raquo; &raquo;&raquo;&raquo;</a></p>
        <p class="lead">We ensure you that your donated Blood will give hope to those in need & we respect your Contribution </p>
      </div>
      <div class="col-md-4">
            <img class="d-block w-40" width="400" height="300"   src="<%= image_path('c2.jpg') %>" >

      </div>
    </div>
    
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good.<a class="btn btn-secondary" href="/bloodunits" >Check All Blood Samples Here &raquo;&raquo;&raquo;</a></p> </h2>
        <p class="lead">The blood you donate gives someone another chance at life. One day that someone may be a close relative, a friend, a loved one—or even you</p>
      </div>
      <div class="col-md-5 order-md-1">
       <img class="d-block" width="400" height="350"   src="<%= image_path('v1.jpg') %>" >
      </div>
    </div>
    
      <hr class="featurette-divider">
  </div>


