<br><div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Add Donor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shipbloods">Ship Blood</a>
      </li>
    </ul>
  </div><br>
  <div class="d-flex justify-content-center">
  <div class="card card bg shadow-lg p-4 mb-3" style="width: 75%;">
    <div class="card-body">
      <div class="col-md-5 offset-md-3 mt-5">
        <%= simple_form_for :form,url: '#', method: :get do |f|%>
          <%= f.input :name, :as => :string , :label => 'Donor Name'%>
          <br>
          <%= f.input :age, :as=> :integer , :label => "Age " %>
          <br>
          <%= f.input :gender, :as => :string , :label => 'Gender'%>
          <br>
          <%= f.input :address, :as => :string ,placeholder: 'permanent Address', :label => 'Address'%>
          <br>
          <%= f.input :blood_group, :as => :string , :label => 'Blood Group'%>
          <br>
           <%= f.input :blood_volume, :as => :string ,placeholder: 'volume in ml', :label => 'Blood Volume'%>
          <br>
          <div class="d-grid">
            <%= f.submit 'Add', class: 'btn btn-primary', id: 'addDonorBtn'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


