<!DOCTYPE html>
<html>
  <head>
    <title>BloodSupplyDapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
     <meta name="csrf-token" content="<%= csrf_meta_tags %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
   <body>
     <div id = "wrap">
    <%= render 'shared/navbar' %>
     <div class = "container">
                 
        <%= yield %>
  </div>
  </div><!-- wrap -->
  <%= render 'shared/footer' %> 
  </body>
</html>

